SDKROOT = iphoneos

CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

OTHER_CFLAGS = -fvisibility=hidden
OTHER_LDFLAGS = -ObjC

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp

HEADER_SEARCH_PATHS = /Users/jpd002/Libraries/boost_1_55_0 ../include
